In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cust_data = pd.read_csv('mytable_customer_details.csv', index_col=0)

In [3]:
cust_data.head()

,gender,is_senior_citizen,partner,dependents,partner_dependents,phone_service,phone_type,internet_service,internet_type,contract_type,...,churn,tenure,total_projection,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,start_date,avg_monthly_charge
customer_id,,,,,,,,,,,,,,,,,,,,,
0002-ORFBO,Female,No,Yes,Yes,3,1,One Line,1,DSL,1,...,No,9.04,26.528586,True,False,True,True,True,2020-05-03,65.6
0003-MKNFE,Male,No,No,No,0,2,Two or More Lines,1,DSL,0,...,No,9.06,NaN,False,False,True,True,True,2020-05-03,59.9
0004-TLHLJ,Male,No,No,No,0,1,One Line,2,Fiber Optic,0,...,Yes,3.80,NaN,False,True,True,True,True,2020-11-03,73.9
0011-IGKFF,Male,Yes,Yes,No,1,1,One Line,2,Fiber Optic,0,...,Yes,12.63,NaN,False,True,True,True,True,2020-02-03,98.0
0013-EXCHZ,Female,Yes,Yes,No,1,1,One Line,2,Fiber Optic,0,...,Yes,3.19,NaN,True,True,True,True,True,2020-11-03,83.9

In [5]:
cust_data.tail()

,gender,is_senior_citizen,partner,dependents,partner_dependents,phone_service,phone_type,internet_service,internet_type,contract_type,...,churn,tenure,total_projection,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,start_date,avg_monthly_charge
customer_id,,,,,,,,,,,,,,,,,,,,,
NaN,Female,No,No,No,0,1,One Line,1,DSL,1,...,No,13.47,NaN,True,False,True,True,True,2020-01-03,55.15
NaN,Male,No,Yes,No,1,2,Two or More Lines,2,Fiber Optic,0,...,Yes,22.02,NaN,False,True,True,True,True,2019-04-03,85.10
NaN,Male,No,No,No,0,1,One Line,1,DSL,0,...,No,1.84,NaN,False,False,True,True,True,2021-01-03,50.30
NaN,Male,No,Yes,Yes,3,1,One Line,1,DSL,2,...,No,68.20,NaN,False,False,True,True,True,2015-06-03,67.85
NaN,Male,No,Yes,Yes,3,0,No Phone Service,1,DSL,2,...,No,62.84,NaN,False,False,False,True,False,2015-12-03,59.00